<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE hibernate-configuration PUBLIC -->
<!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN" -->
<!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
<!--classpath://com/myProj/util/hibernate-configuration-3.0.dtd -->
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		
		
		<!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/esign</property> -->
		<!--<property name="hibernate.connection.username">root</property> -->
	
		<!--<property name="hibernate.connection.password">root</property> -->



		<!--<property name="hibernate.connection.url">jdbc:mysql://10.10.10.62:3306/esign1</property> 
		<property name="hibernate.connection.username">jsign</property>
		<property name="hibernate.connection.password">Jsign@123</property>-->
		
		<!-- <property name="hibernate.connection.url">jdbc:mysql://10.10.40.50:3306/esign</property>  -->
		<property name="hibernate.connection.url">jdbc:mysql://10.10.40.50:3306/mysign_cyclos</property> 
		
		<property name="hibernate.connection.username">abhi</property>
		<property name="hibernate.connection.password">abhi@123$%^</property>
		
		
		
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>


		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>

		<property name="hibernate.c3p0.max_size">25</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.timeout">25200</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.c3p0.autoCommitOnClose">false</property>
		<property name="hibernate.c3p0.acquireRetryDelay">1000</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">60</property>
		<!-- determines how many connections at a time c3p0 will try to acquire 
			when the pool is exhausted. -->

		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">14400</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
		<property name="hibernate.c3p0.testConnectionOnCheckin">true</property>



		<mapping class="com.idflp.Service_Master" />



	</session-factory>
</hibernate-configuration>



